<launch>

  <arg name="robot_name" default="" />
  <arg name="package_name" default="" />


  <group ns="$(arg robot_name)">
    <node pkg="tuw_gui2iws" type="tuw_gui2iws_node" name="tuw_gui2iws_node" output="screen">
      <param name ="/use_sim_time" value="true"/>
      <rosparam command="load" file="$(arg package_name)/cfg/$(arg robot_name).yaml" />
    </node>
  </group>

</launch>
