<launch>
  <!-- Parameters for a Logitech F710 Gamepad, "MODE" = off and "XID/HID Switch" = X -->
  
  <arg name="robot_name" default="ackermann" />
  <arg name="max_vx" default="2" />
  <arg name="max_vy" default="0" />
  <arg name="max_vw" default="2" />
  <arg name="scale"  default="2" />
  <arg name="gamepad_config" default="logitech_f710/iws_twist.yaml" />
  <arg name="publisher_type" default="0" />

  <!-- run the teleop node to send velocities -->
  <node pkg="tuw_gamepad" type="gamepad2twist" name="teleop"  output="screen" >

    <param name="debug" value="true" />

    <param name="max_vx" value="$(arg max_vx)" />
    <param name="max_vy" value="$(arg max_vy)" />
    <param name="max_vw" value="$(arg max_vw)" />
    <param name="scale" value="$(arg scale)" />
    <param name="publisher_type" value="$(arg publisher_type)" />

    <rosparam file="$(find tuw_gamepad)/cfg/$(arg gamepad_config)" />

    <remap from="des_vel" to="$(arg robot_name)/base_controller/command" />
    <remap from="cmd_vel" to="$(arg robot_name)/cmd_vel" />
  </node>

  <!-- run a joy node -->
  <node pkg="joy" type="joy_node" name="joy_controller" />
</launch>
