<launch>
  <arg name="robot_name" default="" />
  <arg name="max_vx" default="2" />
  <arg name="max_vy" default="0" />
  <arg name="max_vw" default="2" />
  <arg name="scale"  default="2" />
  <arg name="gamepad" default="logitech_f510" />
  <arg name="publisher_type" default="0" />

  <!-- run the teleop node to send velocities -->
  <node pkg="tuw_joy2twist" type="joy2twist" name="teleop"  output="screen" >

    <param name="debug" value="false" />

    <param name="max_vx" value="$(arg max_vx)" />
    <param name="max_vy" value="$(arg max_vy)" />
    <param name="max_vw" value="$(arg max_vw)" />
    <param name="scale" value="$(arg scale)" />
    <param name="publisher_type" value="$(arg publisher_type)" />

    <rosparam file="$(find tuw_joy2twist)/cfg/$(arg gamepad).yml" />

    <remap from="des_vel" to="$(arg robot_name)/base_controller/command" />
    <remap from="cmd_vel" to="$(arg robot_name)/cmd_vel" />
  </node>

  <!-- run a joy node -->
  <node pkg="joy" type="joy_node" name="joy_controller" />
</launch>
